// place your custom styles here

// 博客首页 hero 区域高度调整
.blog-home {
  .vp-blog-hero {
    min-height: 140px !important;
    max-height: 175px !important;
    height: 17.5vh !important;
  }
}

// 覆盖媒体查询中的高度设置
@media (max-width: 719px) {
  .blog-home .vp-blog-hero {
    height: 17.5vh !important;
    min-height: 140px !important;
    max-height: 175px !important;
  }
}
